.loan-edit {
    color: #3699ff!important;
    margin-top:5px;
}

/* React select Disabled style */
.css-w9ov5q-option{
    background-color: transparent !important;
  }

.addCircular .form-control {
    border-radius: 0;
    padding: 18px 13px;
}

.addCircular label {
    /* font-weight: 500; */
    font-size: 15px;
}

.addCircular input.form-control.is-valid {
    padding-top: 18px !important;
}

.fixPadding input[type="date"] {
    padding-top: 18px !important;
}
.customUploadBtn{
    padding: 15px 13px !important;
    margin-top: 14px;
    margin-left: 15px !important;
}