.overview-card {
  padding: 18px 18px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.16);
  transition: all linear 0.3s;
}

.employee-overview .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  margin-left: 5px;
}
