#tds-vds-print-wrapper {
  .invoice-header,
  .invoice-footer {
    display: none;
  }
  @media print {
    .invoice-header,
    .invoice-footer {
      display: block !important;
    }
    font-size: 18px !important;
  }
}
