.employeeInformation .card-body {
  padding: 0px 15px !important;
}
.employeeInformation .card-header {
  padding-left: 0 !important;
}
/* =====================form design global==================== */

.global-form-custom {
  font-size: 11px;
  background: #dde3e8;
  padding-top: 8px;
}

.global-form-custom .css-25ddfa-placeholder {
  padding-left: 2px !important;
  margin-left: 0 !important;
}
.global-form-custom .css-1gc0yoq {
  position: unset !important;
}
.global-form-custom .css-25ddfa-placeholder,
.global-form-custom .form-control {
  font-size: 11px !important;
}
.global-form-custom .form-control::placeholder {
  color: hsl(0, 0%, 50%);
}
.global-form-custom svg {
  height: 16px !important;
  margin-top: -3px;
  margin-right: -8px;
}
.global-form_j .css-2b097c-container,
.global-form_j input[type="text"],
.global-form_j input[type="number"],
.global-form_j input[type="date"] {
  width: 100% !important;
}
.border-gray input {
  border: 1px solid hsl(0, 0%, 80%) !important;
}
/* .global-form_j button {
    padding: 0 1rem !important;
    line-height: 30px;
    margin-top: 17px;
  } */
.global-form-custom button,
.global-form_j button {
  padding: 0.65rem 1rem;
  font-size: 1rem;
  line-height: 12px;
}
.global-form_j .h-narration input[type="text"] {
  width: 100% !important;
}
.global-form-hr {
  border: 0;
  border-top: 2px solid #b3b9bd;
  margin-top: 14px;
  margin-bottom: 14px;
}
.is-valid ~ .valid-feedback {
  display: none !important;
}
.was-validated .form-control:valid,
.form-control.is-valid {
  padding-right: 1rem;
}
/* .cj .global-form-date input[type="date"]{
    width: 80% !important;
  } */

.global-form-date .cj-landing-date::-webkit-calendar-picker-indicator {
  font-size: 8px !important;
  margin-left: 0 !important;
  padding-left: 0 !important;
  transform: translateX(-0px) !important;
}
.global-form-date input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 8px !important;
  margin-right: 4px !important;
}
.global-form-date input[type="date"]::-webkit-calendar-picker-indicator {
  font-size: 8px !important;
  margin-right: 4px !important;
}
.global-form-custom input[type="number"] {
  border: none !important;
}
.pl-date input[type="date"] {
  padding-right: 2px !important;
}
.bj-left,
.bj-right {
  background: #dde3e8;
  padding-top: 8px;
}
.bj-right {
  margin-left: 0px;
  padding-bottom: 8px;
}
.bj-left .mb-2 {
  padding-bottom: 5px !important;
}
.bj-left .pl {
  padding-left: 0.5rem !important;
}
.bj-right .pl {
  padding-left: 0.5rem !important;
}
.bj-left .pr {
  padding-right: 0.5rem !important;
}

/* all form header button */
.btn {
  /* padding: 0.65rem 1rem; */
  font-size: 1rem;
  line-height: 12px;
  min-width: 62px;
  max-width: max-content;
}
.btn i {
  font-size: 1rem !important;
}
.bj-table thead tr th {
  padding: 3px 0 !important;
  font-size: 11px;
}
.bj-table tbody tr td {
  padding: 1px 0 !important;
  font-size: 11px;
}
.bj-table-landing thead tr th {
  padding: 5px 0 !important;
}
.bj-table-landing tbody tr td {
  padding: 2px 3x !important;
}
.bj-table-landing .edit i {
  font-size: 13px !important;
}
.bj-table-landing .view i {
  font-size: 13px !important;
}
/* bank journal media query */
@media (min-width: 992px) {
  .bj-add-btn {
    flex: 0 0 50%;
    max-width: 48% !important;
  }
}
.global-form-custom .css-1fe4407 {
  margin-top: -8px !important;
}
.employeeInformation .editForm .css-mi0zgc-control {
  background: hsl(207deg 19% 89%) !important;
  border-color: hsl(207deg 19% 89%) !important;
}
.employeeInformation .editForm .css-6q0nyr-Svg {
  display: none !important;
}
.employeeInformation .editForm input[type="number"] {
  background: hsl(207deg 19% 89%) !important;
  border-color: hsl(207deg 19% 89%) !important;
  margin-left: -9px;
}
.employeeInformation .editForm input[type="date"] {
  background: hsl(207deg 19% 89%) !important;
  border-color: hsl(207deg 19% 89%) !important;
  margin-left: -9px;
}
/* .employeeInformation .editForm input[type="text"] {
  background: hsl(207deg 19% 89%) !important;
  border-color: hsl(207deg 19% 89%) !important;
  margin-left: -9px;
} */
.employeeInformation .editForm input[type="email"] {
  background: hsl(207deg 19% 89%) !important;
  border-color: hsl(207deg 19% 89%) !important;
  margin-left: -9px;
}
.employeeInformation .editForm .css-1ik8myk-control {
  background: hsl(207deg 19% 89%) !important;
  border-color: hsl(207deg 19% 89%) !important;
}
.employeeInformation .editForm .css-14jk2my-container {
  left: -9px !important;
}
.employeeInformation .editForm label {
  font-weight: bold;
}
.employeeInformation .editForm .col-lg-3 {
  padding-bottom: 5px;
}
.employeeInformation .editForm .global-form-custom svg {
  display: none !important;
}
.employeeInformation .custom-file-input:lang(en) ~ .custom-file-label::after {
  height: 24px !important;
  padding-top: 5px !important;
}

.employeeInformation .gutter-b {
  margin-bottom: 0 !important;
}
.employeeInformation .bg_none {
  background: transparent;
  padding: 0;
}
.bj-table-landing tbody tr td {
  padding: 2px 3px !important;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1451px) {
  /* For landscape layouts only */
.global-othersContactBtn button {
    padding: 2px 1px !important;
  }
}
