.sales-invoice-model .title h1 {
  font-size: 22px;
}
.sales-invoice-model .title p {
  margin: 0px;
  font-size: 13px;
}
.sales-invoice-model p {
  margin: 0px;
}

.sales-invoice-model_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.footer_buttom p {
  margin: 0px;
}

.global-table .vendorListHeading th {
  padding: 0px !important;
}
