.bonus-generate-popup .react-confirm-alert-body {
  font-size: 16px !important;
  font-weight: 700;
  background: #ffff00 !important;
}

@media screen and (max-width: 1278px) {
  .bonus-generate-export{
    margin-top: 5px;
  }
}
