.meal-details-css .paddingMinus {
  margin-left: -20px;
  margin-right: -20px;
}
.meal-details-css .padding-free .card-body {
  padding: 0 5px !important;
}
.meal-details-css .padding-free table {
  width: 100%;
}
.meal-details-css .deleteBtn {
  background-color: rgba(239, 68, 68, 1);
  padding: 2px 4px;
  color: white;
  border-radius: 0.5rem;
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
}

.food-corner-card .global-card-header {
  height: auto !important;
}
