p {
  margin: 0 !important;
  padding: 0 !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.bold {
  font-weight: 600;
}

.CommoditiesHologram_wrapper {
  margin-top: 30px !important;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px !important;

}

.CommoditiesHologram_wrapper .CommoditiesHologram_header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: right;
  position: relative;
}

.CommoditiesHologram_wrapper .CommoditiesHologram_header .office_info {
  margin-right: 70px;
}

.CommoditiesHologram_wrapper .main_table {
  margin-top: 1rem;
  width: 100%;
}

.CommoditiesHologram_wrapper .main_table .table {
  width: 100%;
  border-collapse: collapse;
}

.CommoditiesHologram_wrapper .main_table .table th {
  border: 1px solid;
  padding: 5px;
  color: black !important;
}

.CommoditiesHologram_wrapper .main_table .table td {
  border: 1px solid;
  padding: 5px;
  color: black !important;
}

.CommoditiesHologram_wrapper .main_table .note {
  display: flex;
  margin-top: 15px;
}

.CommoditiesHologram_wrapper .main_table .note ul {
  margin: 0;
  padding-left: 30px;
}

.CommoditiesHologram_wrapper .signature_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  align-items: flex-end !important;
  padding: 0px 30px;
}

.CommoditiesHologram_wrapper .signature_wrapper .signature {
  position: relative;
}

.CommoditiesHologram_wrapper .signature_wrapper .signature img {
  position: absolute;
  top: -67px;
  left: 50%;
  transform: translateX(-50%);
}

.CommoditiesHologram_wrapper .signature_wrapper .signature p {
  border-top: 1px solid !important;
  padding: 0px 18px !important;

}

.CommoditiesHologram_wrapper .printing_date_time {
  font-size: 13px;
  margin-top: 1px !important;
  margin-left: 30px !important;
}

@media print {
  .footer {
    display: block !important;
    text-align: center !important;
  }
}

.CommoditiesHologram_wrapper .main_table table tbody tr .CommoditiesHologram_table_td {
  padding: 9px 0px !important;
}