/* .plan-act-cashFlow-wrapper th.target {
  background-color: #00b050 !important;
  color: white;
  border: 1px solid #cfcbcb;
}
.plan-act-cashFlow-wrapper th.actual {
  background-color: #0070c0 !important;
  color: white;
  border: 1px solid #cfcbcb;
}
.plan-act-cashFlow-wrapper th.variance {
  background-color: #ff0000 !important;
  color: white;
  border: 1px solid #cfcbcb;
} */

.plan-act-cashFlow-wrapper table thead tr th {
  z-index: 1;
}
.plan-act-cashFlow-wrapper table thead tr th.zIndex {
  z-index: 9999 !important;
}
.plan-act-cashFlow-wrapper thead th:first-child {
  z-index: 1 !important;
}

.plan-act-cashFlow-wrapper thead tr.plan-act-second-row th {
  position: sticky;
  top: 28px;
}
.plan-act-cashFlow-wrapper tbody tr td.cash-background {
  background-color: #d6dadd !important;
  font-weight: bold;
}
