.masterHawbContainer {
  font-size: 11px;
  border: 1px solid #000;
  line-height: 12px;
}

.masterHawbContainer h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.masterHawbContainer div {
  box-sizing: border-box !important;
}

.masterHawbContainer p {
  margin: 0;
  padding: 2px 3px;
}

.masterHawbContainer .smallTitle {
  font-size: 10px;
  font-weight: 600;
}

.masterHawbContainer .shipperAandConsigneeInfo .top {
  display: flex;
}

.masterHawbContainer .shipperAandConsigneeInfo .leftSide {
  width: 50%;
}

.masterHawbContainer .shipperAandConsigneeInfo .rightSide {
  width: 50%;
}

.masterHawbContainer .shipperInfo,
.masterHawbContainer .consigneeInfo,
.masterHawbContainer .notifyParty {
  height: 115px;
  line-height: 9px;
}

.masterHawbContainer .textTitle {
  text-transform: uppercase;
  font-style: italic;
  font-weight: 600;
  font-size: 10px;
}

.masterHawbContainer .rightSideTop {
  display: flex;
  gap: 50px;
  border-bottom: 1px solid #000;
  height: 80px;
}

.masterHawbContainer .rightSideTop img {
  width: 150px;
  padding: 5px 0;
}

.masterHawbContainer .rightSideTop .airWayBillTitle {
  font-size: 20px;
  font-weight: bold;
}

.masterHawbContainer .rightSideMiddleContent {
  font-size: 9px;
}

.masterHawbContainer .rightSide .rightSideMiddleTitle {
  border-bottom: 1px dotted #000;
}

.masterHawbContainer .rightSide .rightSideButtom .borderBottomTime {
  display: flex;
  height: 60px;
}

.masterHawbContainer .rightSide .rightSideButtom .borderBottomTime p {
  width: 50%;
}

.masterHawbContainer .rightSideBottom {
  border-bottom: 1px solid #000;
  height: 20px;
}

.masterHawbContainer .borderRight {
  border-right: 1px solid #000;
}

.masterHawbContainer .borderBottom {
  border-bottom: 1px solid #000;
}

.masterHawbContainer .borderTop {
  border-top: 1px solid #000;
}

.masterHawbContainer .borderLeft {
  border-left: 1px solid #000;
}

.masterHawbContainer .airInfo {
  min-height: 50px;
}

.masterHawbContainer .airInfo .rightSide {
  display: flex;
}

/* .masterHawbContainer .airInfo .air-flight-info {
  width: 100px;
} */

.masterHawbContainer .airInfo .air-flight-catagory {
  /* display: flex;
  justify-content: space-around; */
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.masterHawbContainer .airInfo .rightSideColumnOne {
  width: 250px;
}

/* .masterHawbContainer .airInfo .air-destination-info {
  width: 150px;
  height: 100%;
} */

.masterHawbContainer .commonWithOne {
  width: 190px;
  min-width: 190px;
}

.masterHawbContainer .noPiecesRcp {
  width: 45px;
}

.masterHawbContainer .grossWeight {
  width: 90px;
}

.masterHawbContainer .kgIB {
  width: 25px;
}

.masterHawbContainer .chargeableWeight {
  width: 90px;
}

.masterHawbContainer .rateAndCharge {
  width: 90px;
}

.masterHawbContainer .total {
  width: 100px;
}

.masterHawbContainer .hawbCurrency {
  width: 305px;
  display: grid;
  grid-template-columns: 1fr 1fr ;
}

.masterHawbContainer .cargoInfo {
  height: 360px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

.masterHawbContainer .natureandQuantityofGoods {
  flex: 1;
}

/* collect Info */
.masterHawbContainer .collectInfo .collectItemLeft {
  min-width: 340px;
  height: 100%;
  overflow: hidden;
}

.masterHawbContainer .collectInfo .collectChart {
  display: flex;
  height: 100%;
  position: relative;
}

.masterHawbContainer .collectInfo .collectChartBox {
  display: flex;
  position: absolute;
  text-align: center;
  gap: 11px;
  padding-left: 5px;
  margin-top: 1px;
}

.masterHawbContainer .collectInfo .collectChartBox .collectChartBoxPrepaid {
  width: 85px;
}

.masterHawbContainer .collectInfo .collectChartBox .collectChartBoxWC {
  width: 130px;
}

.masterHawbContainer .collectInfo .collectChartBox .collectChartBoxCollect {
  width: 90px;
}

.masterHawbContainer .collectInfo .collectChartBox .collectChartBoxValuationCharge {
  width: 160px;
}

.masterHawbContainer .collectInfo .collectChartBox .collectChartTax {
  width: 90px;
}

.masterHawbContainer .collectInfo .collectChartBox .collectChartBoxTotalOtherChargesDueAgent {
  width: 250px;
}

.masterHawbContainer .collectInfo .collectChartBox .collectChartBoxTotalOtherChargesDueCarrier {
  width: 250px;
}

.masterHawbContainer .collectInfo .collectChartLeft {
  width: 170px;
  padding-top: 15px;
}

.masterHawbContainer .collectInfo .collectChartRight {
  min-width: 169px;
  padding-top: 15px;

}

.masterHawbContainer .collectInfo .collectChartBoxItem {
  position: relative;
  border-bottom: 1px solid #000;
  background: white;
}

.masterHawbContainer .collectInfo .collectChartBoxItem::after {
  content: "";
  position: absolute;
  right: -4px;
  top: -1px;
  height: 124%;
  width: 1px;
  background: #000 transparent;
  transform: rotate(206deg);
  z-index: 9999;
  border-right: 1px solid #000;
}


.masterHawbContainer .collectInfo .collectChartBoxItem::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -1px;
  height: 119%;
  width: 0px;
  background: #000 transparent;
  transform: rotate(161deg);
  z-index: 9999;
  border-right: 1px solid #000;
}

.masterHawbContainer .collectInfo .collectItemRowOne,
.masterHawbContainer .collectInfo .collectItemRowTwo,
.masterHawbContainer .collectInfo .collectItemRowThree,
.masterHawbContainer .collectInfo .totalOtherChargesTotalPrepaid,
.masterHawbContainer .collectInfo .currencyConversionRate {
  height: 50px;
}

.masterHawbContainer .collectInfo .collectItemRowFour {
  height: auto;
}

.masterHawbContainer .collectInfo .totalOtherChargesDueAgent,
.masterHawbContainer .collectInfo .totalOtherChargesDueCarrier {
  height: 51px;
}


.masterHawbContainer .collectInfo .collectItemRow {
  display: flex;
}

.masterHawbContainer .collectInfo .collectChartValue {
  font-size: 14px;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.hawbWrapper .multipleInvoicePrint {
  display: none;
}

@media print {
  .hawbWrapper .multipleInvoicePrint {
    display: block !important;
  }
}

.printSectionNone {
  display: none !important;
}

.hawbWrapper .ql-editor {
  padding: 0px;
  margin: 0px;
  overflow: unset;
  font-size: 11px;
}