.loan_register_pdf {
  padding: 0;
  box-sizing: border-box;
  font-size: 18px !important;
  display: block;
  margin-top: 10px;
}
.loan_pdf_header {
  display: none;
}
@media print {
  .loan_pdf_header {
    display: block;
  }
}
