.freightInvoice-container {
    line-height: 1.6;
    margin: 20px;
    padding: 0;
    color: #333;
    font-size: 0.625rem; /* Set the font size to 0.625rem */
}

.freightInvoice-container .container-freight {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.freightInvoice-container h1 {
    font-size: 0.625rem;
}

.freightInvoice-container h2 {
    font-size: 0.625rem;
}

.freightInvoice-container h3 {
    color: #333;
    font-size: 0.625rem;
}

.freightInvoice-container .header-freight,
.freightInvoice-container .footer {
    text-align: center;
}

.freightInvoice-container .header-freight {
    margin-bottom: 40px;
}

.freightInvoice-container .logo {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.freightInvoice-container .company-details,
.freightInvoice-container .client-details,
.freightInvoice-container .shipment-details,
.freightInvoice-container .charges-breakdown,
.freightInvoice-container .taxes-freight,
.freightInvoice-container .grand-total,
.freightInvoice-container .payment-instructions,
.freightInvoice-container .terms-conditions {
    margin-bottom: 20px;
}

.freightInvoice-container .company-details div,
.freightInvoice-container .client-details div,
.freightInvoice-container .shipment-details div,
.freightInvoice-container .charges-breakdown div,
.freightInvoice-container .taxes-freight div,
.freightInvoice-container .grand-total div,
.freightInvoice-container .payment-instructions div,
.freightInvoice-container .terms-conditions div {
    margin-bottom: 5px;
}

.freightInvoice-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.freightInvoice-container table,
.freightInvoice-container th,
.freightInvoice-container td {
    border: 1px solid #ddd;
}

.freightInvoice-container th,
.freightInvoice-container td {
    padding: 10px;
    text-align: left;
}

.freightInvoice-container th {
    background-color: #f5f5f5;
}

.freightInvoice-container .grand-total {
    font-weight: bold;
}

.freightInvoice-container .tab {
    padding-left: 100px;
}
