.Dashboardpdd {
  .DepoPendingChart {
    box-shadow: -1px 2px 7px 4px #d9d2d2;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #b59ae7;
    &:hover {
      box-shadow: -1px 2px 7px 4px #c2bfbf;
      border: 1px solid blue;
    }
  }

  .DashboardpddBox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px; /* Optional: Adds gap between grid items */
    padding: 15px 0px;
    // responsive 
    @media (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .categoryWiseCard {
      box-shadow: -1px 2px 7px 4px #d9d2d2;
      padding: 10px;
      border-radius: 4px;
      border: 1px solid #b59ae7;
      &:hover {
        box-shadow: -1px 2px 7px 4px #c2bfbf;
        border: 1px solid blue;
      }
      &.DashboardpddBox__One {
        background-color: #ffe2e5;
      }
      &.DashboardpddBox__Two {
        background-color: #d6d6e0;
      }
      &.DashboardpddBox__Three {
        background-color: #c9f7f5;
      }
      &.DashboardpddBox__Four {
        background-color: #f3f6f9;
      }
      &.DashboardpddBox__Five {
        background-color: #faebd7;
      }
      &.DashboardpddBox__Six {
        background-color: #efe3a9;
      }
      &.DashboardpddBox__Seven {
        background-color: #d3cedf;
      }
      &.DashboardpddBox__Eight {
        background-color: #ffa7d3;
      }
      &.DashboardpddBox__Nine {
        background-color: transparent;
      }
      &.DashboardpddBox__Ten {
        background-color: #2cff2c;
      }
      .title {
        font-size: 17px;
        text-align: center;
      }
      .cagegoryList {
        display: flex;
        gap: 12px;
        justify-content: center;
        .item {
          cursor: pointer;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid transparent;

          &:hover {
            background-color: #f5f5f5;
            border: 1px solid #ebc0c0;
          }
          .itemTitle {
            font-size: 14px;
            font-weight: 500;
          }
          .itemValue {
            font-size: 12px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
