/*BCIC Table*/
.print-only table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #ddd;
  background: transparent !important;
}
.print-only th,
td {
  padding: 8px;
  font-size: 14px;
}
/* Hide the div on screen */
.tender-print-preview {
  display: none;
}

/*BADC Table*/
.badc-tender-table tbody tr td:nth-child(4){
 width: 80px;
 text-align: center;
}
.badc-tender-table tbody tr td:nth-child(5){
  width: 240px;
}
.badc-tender-table tbody .qoutedPriceNumber{
  font-weight: 600;
  text-align: right;
}
.badc-tender-table tbody .qoutedPriceString{
  text-align: center;
}
.badc-tender-table tbody .foreign-local-td{
  width: 240px;
}

/* Show the div only when printing */
@media print {
  .tender-print-preview {
    display: block;
  }
}
