.print-only table,
th,
td {
  border-collapse: collapse;
  border: 1px solid #ddd;
  background: transparent !important;
}
.print-only th,
td {
  padding: 8px;
  font-size: 14px;
}
/* Hide the div on screen */
.tender-print-preview {
  display: none;
}

/* Show the div only when printing */
@media print {
  .tender-print-preview {
    display: block;
  }
}
