#bank-stock-print-wrapper {
  .invoice-header,
  .invoice-footer {
    display: none;
  }
  .min_width {
    min-width: 140px !important;
  }
  @media print {
    .bj-table thead tr th,
    .bj-table tbody tr td,
    .content-wrapper ul,
    .content-wrapper h5,
    .content-wrapper h6,
    .content-wrapper p,
    .content-wrapper li {
      font-size: 17px !important;
    }
    h3 {
      font-size: 21px !important;
    }
    .invoice-header,
    .invoice-footer {
      display: block !important;
    }
    .content-wrapper {
      margin-top: 30px;
    }
    #theadHeight {
      height: 110px;
    }
    #tfootHeight {
      height: 150px;
    }
  }
}
