.bank-stock-print-wrapper {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  display: none;
}

@media print {
  .bank-stock-print-wrapper {
    display: block !important;
  }
}
