.attendance-details .dropdown-toggle::after {
  margin-top: 0px;
  margin: 4px;
  border: 0 !important;
}

.attendance-details #dropdown-basic {
  background: #3699ff !important;
  border: 0px !important;
}

.attendance-details .btn.btn-light,
.attendance-details .btn.btn-light:hover {
  color: #80808f;
  background-color: transparent;
  border-color: transparent;
}
