.final-settlement-report .settlement-header {
  text-align: center;
}
.final-settlement-report .settlement-date {
  text-align: right;
}
.final-settlement-report .settlement-date strong {
  background-color: #d8d8d8;
  padding: 5px 60px;
}
.final-settlement-report .settlement-info .table {
  font-size: 14px;
}

.final-settlement-report .settlement-table table {
  border-collapse: collapse;
  width: 100%;
}
.final-settlement-report .settlement-table table td,
.final-settlement-report .settlement-table th {
  border: 1px solid black;
}
.final-settlement-report .settlement-table table td,
.final-settlement-report .settlement-table th {
  border: 1px solid black;
}
.final-settlement-report .settlement-table th {
  text-align: center;
}
.final-settlement-report .settlement-account {
  margin-top: 50px !important;
}

.final-settlement-report .settlement-border {
  border-top: 1px dashed black;
  padding-top: 1px;
}
.final-settlement-report .pmb {
  margin-bottom: 6px !important;
}
