.pms-report-view {
  text-align: center;
  width: 100%;
  /* height: 100%; */
  padding: 5px;
  position: relative;
}
.pms-report-view-head {
  font-size: 25px;
  color: black;
  font-weight: 700;
}
.pms-report-view-frequency {
  border-bottom: 3px solid rgb(190, 190, 190);
  padding-bottom: 5px;
  margin-left: 8px;
  width: 99%;
}
.pms-report-view-sub-title {
  font-size: 80px;
  background: #00FF00;
  margin: 5px 5px 30px;
  padding: 10px;
  border: 1px solid rgb(156, 184, 200);
  border-radius: 5px;
  color: red;
  font-weight: 700;
}
.pms-report-view-objective-kpi {
  font-size: 30px;
  background: #00FF00;
  margin: 5px 5px 30px;
  padding: 10px;
  border: 1px solid rgb(156, 184, 200);
  border-radius: 5px;
  color: red;
  font-weight: 700;
}
.pms-report-view-objective {
  color: red;
}

.pms-report-view-kpi {
  color: red;
}

.pms-report-view-card {
  display: flex;
  justify-content: space-between;
}
.pms-report-view .remarks {
  background: yellow;
  height: auto;
  margin-top: 10px;
  width: 100%;
  border-radius: 5px;
}

.pms-report-view-pagination {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  font-weight: bold;
}

.pms-report-view-direction {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.pms-report-view-direction > sapn > i {
  font-size: 35px;
  font-weight: bold;
}

.pms-report-view-box {
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .pms-report-view-head {
    font-size: 16px;
  }
  .pms-report-view-frequency {
    font-size: 12px;
  }
  .pms-report-view-sub-title {
    font-size: 22px;
    margin: 3px 5px 15px;
    padding: 5px;
  }
  .pms-report-view-objective {
    font-size: 16px;
    margin: 5px 5px 15px;
    padding: 5px;
  }
  .pms-report-view-kpi {
    font-size: 14px;
    margin: 5px 5px 15px;
    padding: 5px;
  }

  .pms-report-view-single-card h2 {
    font-size: 16px;
  }

  .pms-report-view-single-card h1 {
    font-size: 14px;
  }
}
