p {
  margin: 0;
  padding: 0;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: 600;
}
.poly_fibre_quotation_print {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 210mm;
  margin: 0 auto;
  font-size: 14px !important;
  display: none;
}

.poly_fibre_quotation_print .main_table {
  margin-top: 2rem;
}
.poly_fibre_quotation_print .main_table .table_header {
  font-size: 20px;
  border-bottom: 1px solid;
  max-width: 100px;
  margin: 0 auto;
  margin-bottom: 5px;
}
.poly_fibre_quotation_print .main_table .table {
  width: 100%;
  border-collapse: collapse;
}
.poly_fibre_quotation_print .main_table .table th {
  border: 1px solid;
  padding: 5px;
}
.poly_fibre_quotation_print .main_table .table td {
  border: 1px solid;
  padding: 5px;
}
.poly_fibre_quotation_print .main_table .note {
  display: flex;
  margin-top: 15px;
}
.poly_fibre_quotation_print .main_table .note ul {
  margin: 0;
  padding-left: 30px;
}
.poly_fibre_quotation_print .signature_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.poly_fibre_quotation_print .signature_wrapper .signature p {
  position: relative;
  padding-top: 2px;
}
.poly_fibre_quotation_print .signature_wrapper .signature p::before {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% + 30px);
  background: #000;
  margin-left: -15px;
  margin-top: -5px;
}
.border-btm {
  border-bottom: 1px solid gray;
}
.poly_fibre_quotation_print .invoiceFooterInfo p {
  padding: 4px 0;
}
.poly_fibre_quotation_print .invoiceFooterInfo p span {
  width: 92px;
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.poly_fibre_quotation_print .invoiceFooterInfo p span::before {
  content: ':';
  position: absolute;
  right: 0;
  top: 0;
}

@media print {
  .poly_fibre_quotation_print {
    display: block !important;
  }
}
