.loan-summary-print {
	display: none;
	margin-bottom: 8px;
	text-align: center;
}

@media print {
	.loan-summary-print {
		display: block;
		margin: 20px !important;
		text-align: center;
	}
}

.loan-summary-print .header-print {
	display: flex;
	align-items: center;
	justify-content: center;
}

.loan-summary-print .header-print p {
	margin-bottom: 2px;
}

.loan-summary-print .header-print .left p {
	text-align: left;
	margin-right: 20px;
}

.loan-summary-print .header-print .right p {
	text-align: left;
	margin-left: 20px;
}