p {
  margin: 0;
  padding: 0;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bold {
  font-weight: 600;
}
#print_sales_invoice_wrapper_cement {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
  /* max-width: 210mm; */
  /* margin: 0 50px; */
  font-size: 14px !important;
  /* display: none; */
  margin-top: 10px;
  /* border: 1px solid black; */
}

#print_sales_invoice_wrapper_cement p {
  margin-bottom: 0px;
}
#print_sales_invoice_wrapper_cement .header {
  display: flex;
  gap: 40px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  color: rgb(75, 25, 176);
}

#print_sales_invoice_wrapper_cement .header .office_info {
  font-weight: bold;
  font-size: 30px;
  color: rgb(75, 25, 176) !important;
}

/* #print_sales_invoice_wrapper_cement .header .logo {
  width: 35%;
  display: flex;
  justify-content: right;
} */

#print_sales_invoice_wrapper_cement .main_table {
  margin-top: 1rem;
}

#print_sales_invoice_wrapper_cement .main_table .table {
  width: 100%;
  border-collapse: collapse;
}
#print_sales_invoice_wrapper_cement .main_table .table th {
  border: 1px solid;
  padding: 5px;
}
#print_sales_invoice_wrapper_cement .main_table .table td {
  border: 1px solid;
  padding: 5px;
}
#print_sales_invoice_wrapper_cement .main_table .note {
  display: flex;
  margin-top: 15px;
}
#print_sales_invoice_wrapper_cement .main_table .note ul {
  margin: 0;
  padding-left: 30px;
}
#print_sales_invoice_wrapper_cement .signature_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#print_sales_invoice_wrapper_cement .signature_wrapper .signature p {
  position: relative;
  padding-top: 2px;
}

@media print {
  #print_sales_invoice_wrapper_cement {
    display: block !important;
  }
}
