.print-invoice-wrapper-sales-invoice ul,
.print-invoice-wrapper-sales-invoice ol {
  list-style: none;
}

.print-invoice-wrapper-sales-invoice a {
  text-decoration: none;
  color: inherit;
}

.print-invoice-wrapper-sales-invoice {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

.print-invoice-wrapper-sales-invoice .container {
  /* margin: 40px; */
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
}

/* .print-invoice-wrapper-sales-invoice .logo {
  height: auto;
  width: 190px !important;
  position: absolute;
  top: 55px;
} */

.print-invoice-wrapper-sales-invoice .info {
  text-align: center;
  margin-top: 40px !important;
}

.print-invoice-wrapper-sales-invoice .invoice_info {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.print-invoice-wrapper-sales-invoice .address {
  /* background-color: #ebebe0; */
  display: flex;
  justify-content: space-between;
  padding: 12px 25px;
  font-size: 14px;
}

.print-invoice-wrapper-sales-invoice .address_title {
  font-weight: 600;
  text-decoration: underline;
  font-size: 15px;
}

.print-invoice-wrapper-sales-invoice table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 12px;
}

.print-invoice-wrapper-sales-invoice td {
  border-right: 2px solid black;
  border-bottom: 1px solid black;
}

.print-invoice-wrapper-sales-invoice th {
  border-right: 2px solid black;
  /* background-color: #ebebe5; */
}


.print-invoice-wrapper-sales-invoice tbody tr:last-child {
  border-bottom: 2px solid black;
}

.print-invoice-wrapper-sales-invoice tfoot td {
  border: none;
}

.taka-in-words {
  width: 100%;
  font-size: 13px;
  margin: 40px 0;
  display: flex;
}

.print-invoice-wrapper-sales-invoice .bd_title {
  text-decoration: underline;
}

.print-invoice-wrapper-sales-invoice .bd_title {
  font-size: 20px;
}

.print-invoice-wrapper-sales-invoice .bd_title p {
  font-size: 13px;
  font-weight: 800;
}

.print-invoice-wrapper-sales-invoice .bank_details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.print-invoice-wrapper-sales-invoice .bd_item p {
  font-size: 13px;
}

.print-invoice-wrapper-sales-invoice .signature {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: -5px;
  padding: 0 50px
}

.print-invoice-wrapper-sales-invoice .signature p {
  padding-left: 5px;
  padding-right: 5px;
  border-top: 1px dashed black;
  font-weight: 600;
  font-size: 14px;
}

.print-invoice-wrapper-sales-invoice .contact {
  background-color: #c3dae9;
  padding: 5px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
}

/* Hide the div on screen */
.sales-invoice-preview table .sales-invoice-hide {
  display: none;
}


@media print {
  .print-invoice-wrapper-sales-invoice .signature {
    margin-bottom: 120px;
  }

  .sales-invoice-preview table .sales-invoice-hide {
    display: block;
    background-color: white;
  }
}