/* heading css */
/*  */
.individual-kpi-report-wrapper {
  background-color: white;
  min-height: 100vh;
}
.individual-kpi-report-wrapper > .individual-kpi-report-container {
  margin: 0 3rem;
}
.individual-kpi-report-container > .individual-kpi-report-header {
  margin: 0rem -1rem;
  padding: 1.5rem 1.2rem 0;
  border-bottom: 0.1rem solid #eaecf0;
}
.individual-kpi-report-container > .individual-kpi-report-header > h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: #344054;
  text-align: center;
}
.individual-kpi-report-container > .individual-kpi-report-header p {
  font-weight: 400px;
  font-size: 1.15rem;
  color: #667085;
  text-align: center;
}
/*  */
/*  */
/* body */

.individual-kpi-report-body > .button-container-grid > .button {
  width: 100%;
  margin: 1rem 0;
  padding: 0.7rem 0 0.7rem 1rem;
  background-color: #1b5fc3;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.individual-kpi-report-body > .button-container-grid > .button p {
  color: white;
  margin-bottom: 0;
}

/*  */
/*  */

.individual-kpi-report-body > .row .scorecard-container {
  padding: 1.5rem;
  box-shadow: 0px 0.497024px 0.994048px rgba(0, 0, 0, 0.3),
    0px 0.994048px 2.98214px 0.994048px rgba(0, 0, 0, 0.15);
}
.individual-kpi-report-body > .row > .scorecard-container > .scorecard-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
}
.individual-kpi-report-body
  > .row
  > .scorecard-container
  > .scorecard-grid
  > .scorecard {
  border: 1px solid #d0d5dd;
  position: relative;
}

.individual-kpi-report-body
  > .row
  > .scorecard-container
  > .scorecard-grid
  > .scorecard
  > .scorecard-heading {
  display: flex;
  align-items: center;
}

.individual-kpi-report-body
  > .row
  > .scorecard-container
  > .scorecard-grid
  > .scorecard
  > .scorecard-heading
  > .scorecard-title {
  background-color: #34a853;
  width: 60%;
  height: 3rem;
  display: grid;
  place-items: center;
  position: relative;
}
.scorecard > .scorecard-heading > .scorecard-title > p {
  position: absolute;
  left: 1rem;
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1.15rem;
}
.individual-kpi-report-body
  > .row
  > .scorecard-container
  > .scorecard-grid
  > .scorecard
  > .scorecard-heading
  > .vector-img {
  height: 100%;
  height: 3rem;
}

.individual-kpi-report-body
  > .row
  > .scorecard-container
  > .scorecard-grid
  > .scorecard
  > .scorecard-body-container {
  height: 80%;
  display: grid;
  place-items: center;
  padding: 1rem;
}
.individual-kpi-report-body
  > .row
  > .scorecard-container
  > .scorecard-grid
  > .scorecard
  > .scorecard-body-container
  > .scorecard-body {
  font-weight: 500;
  font-size: 1.1rem;
  text-align: center;
}

/*  */

.individual-kpi-report-body .navigate-action-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.individual-kpi-report-body .navigate-action-container .arrow {
  padding: 0.7rem;
  border-radius: 50%;
  cursor: pointer;
}
.individual-kpi-report-body .navigate-action-container .arrow:hover {
  box-shadow: 0.1em 0.1em rgb(214, 214, 214);
}

.individual-kpi-report-body .navigate-action-container .arrowUp {
  background-color: #34a853;
  margin-bottom: 1rem;
}
.individual-kpi-report-body .navigate-action-container .arrowDown {
  background-color: #bf2600;
  transform: rotateX(180deg);
  margin-top: 1rem;
}
