.accounts-control-toggle .str-particulars-toggle .toggle-container {
    width: 100px;
    background-color: #8d8d8d;
    cursor: pointer;
    user-select: none;
    border-radius: 30px;
    padding: 2px;
    height: 40px;
    position: relative;
    margin: 0 auto;
  }
  
  .accounts-control-toggle .str-particulars-toggle .toggle-container.active {
    width: 100px;
    background-color: #24a047;
  }
  
  .accounts-control-toggle .str-particulars-toggle .dialog-button {
    cursor: pointer;
    background-color: #fff;
    color: white;
    border-radius: 18px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    min-width: unset;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    left: 62px;
    transition: all 0.3s ease;
  }
  
  .accounts-control-toggle .str-particulars-toggle .disabled {
    background-color: #e0e0e0;
    left: 2px;
  }