.salaryTopSheet .topSheetCustomTh {
  background-color: #fff !important;
  border: 1px solid transparent !important;
}

.salaryTopSheet thead th:first-child {
  border: 1px solid transparent !important;
}

.salary-top-sheet-print {
  display: none;
  margin-bottom: 8px;
}

@media print {
  .salary-top-sheet-print {
    display: block;
  }
}