.csDetailsTable .scroll-table {
   max-width: 100%;
   max-height: 20em;
   overflow: scroll;
   position: relative;
   z-index: 0;
}

.csDetailsTable table {
   position: relative;
   border-collapse: collapse;
}

.csDetailsTable thead th {
   position: -webkit-sticky; /* for Safari */
   position: sticky;
   top: 0;
   min-width: 50px;
   text-align: center;
   z-index: 99;
   cursor: pointer;
}

.csDetailsTable thead th:first-child {
   left: 0;
   z-index: 999;
   min-width: 75px !important;
}

.csDetailsTable tbody td:first-child {
   position: -webkit-sticky; /* for Safari */
   position: sticky;
   left: 0;
   border: 1px solid #ecf0f3 !important;
   background: #fff !important;
}

.csDetailsTable .bg-even {
   background: #fff;
}

.csDetailsTable ._table::-webkit-scrollbar-track {
   background-color: rgb(221, 221, 221);
}

.csDetailsTable ._table::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}

.csDetailsTable ._table::-webkit-scrollbar-thumb {
   background-color: #bcbfc4;
   cursor: pointer !important;
}
