.hbl-container {
    margin: 20px auto;
    padding: 20px;
    background: #fff;
}

.hbl-container h1 {
    text-align: center;
    font-size: 24px;
}

.hbl-container .note {
    /* text-align: center; */
    font-style: italic;
    font-size: 12px;
    margin-bottom: 20px;
}

.hbl-container .section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}


.hbl-container h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}

.hbl-container p {
    margin: 5px 0;
    font-size: 12px;
}

.hbl-container .footer {
    margin-top: 20px;
    display: flex;
    gap: 100px;
    align-items: center;
}

.hbl-container .footer p {
    margin: 5px 0;
    font-size: 12px;
    font-weight: bold;
}

.hbl-container .bill-info,
.hbl-container .notify-party {
    text-align: right;
}

.hbl-container .signature-line {
    border-bottom: 1px dashed #000;
    width: 100%;
    margin-bottom: 20px;
    padding: 2px;
}

.hbl-container h2 {
    font-size: 15px;
}

.hbl-container .section-title {
    display: block;
    font-size: 13px;
    margin-bottom: 2px;
}

.hbl-container .section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 250px;

}
.hbl-container .input-line,
.hbl-container .solid-line {
  display: block;
  margin-bottom: 3px;
}

.hbl-container .input-line {
  width: 100%;
  border-bottom: 1px dashed #000;
}

.hbl-container .solid-line {
  width: 100%;
  border-bottom: 1px solid #000;
}
.hbl-container .section-full{

}