.deliveryScheduleplanPrintSection {
  .headerInfo {
    display: none;
  }
  @media print {
    .headerInfo {
      display: block !important;
    }
    .table-responsive {
        overflow-x: unset !important;
      }
  }
}
