.searchMenuList {
  position: absolute;
  top: 12px;
  right: -3px;
  background: white;
  padding: 0;
  margin: 0;
  width: 230px;
  padding: 7px;
  border-radius: 3px;
  box-shadow: -1px 1px 11px 1px #cccccc;
}
.searchMenuList li {
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #f2e7e7;
  padding: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.searchMenuList li:hover {
  background: #d6d4d4;
  border-radius: 1px;
}
.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-5);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}